<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       "
	default-autowire="byName">

	<bean id="idSequenceDao"
		class="com.ahhf.chen.datasource.sequence.impl.DefaultSequenceDao">
		<property name="dataSource" ref="dataSource" />
		<!-- 步长 ,默认为1000，取值在1-100000之间 -->
		<property name="step" value="5000" />
		<!-- 重试次数 -->
		<property name="retryTimes" value="5" />
		<!-- 使用的表的表名 ，默认为sequence -->
		<!-- FIXME -->
		<property name="tableName" value="sequence" />
		<!-- id生成器的字段名,默认为name -->
		<property name="nameColumnName" value="name" />
		<!-- 存值的列的字段名,默认为value -->
		<property name="valueColumnName" value="value" />
		<!-- 存修改时间的字段名 ,默认为gmt_modified -->
		<property name="gmtModifiedColumnName" value="gmt_modified" />
	</bean>

	<bean id="personSequence" class="com.ahhf.chen.datasource.sequence.impl.DefaultSequence"
		init-method="init">
		<property name="sequenceDao" ref="idSequenceDao" />
		<!-- sequence生成器名 -->
		<property name="name" value="seq_person" />
	</bean>

</beans>